# Port de l'API
PORT=3000

# Configuration de la base de données
HOST=127.0.0.1
USER=[username]
PASSWORD=[password]
DB=[database]
dialect=mysql
MAX_POOL=5
MIN_POOL=0
ACQUIRE=30000
IDLE=10000

# Configuration JWT
JWT_SECRET=token-incroyable
JWT_EXPIRATION=24h

# Configuration de la limite de requêtes
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=100